.App {
  text-align: center;
}

.row.calendar {
  margin-left: -8px;
  margin-right: -8px;
}

.row.calendar > li[class^="col-"] {
  padding: 8px;
};

@import url('https://fonts.googleapis.com/css?family=Oswald');

@fontface {
  font-family: 'Oswald';
  src: url('https://fonts.googleapis.com/css?family=Oswald')
}

@import url('https://fonts.googleapis.com/css?family=Noto+Serif:700');

@fontface {
  font-family: 'Noto Serif', serif;
  src: url('https://fonts.googleapis.com/css?family=Noto+Serif:700');
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.c-aspect-ratio {
  position: relative;
  width: 100%;
  padding-bottom: 30%;
  overflow: hidden;
  min-height: 150px;

  -webkit-box-shadow: 0px 8px 20px -15px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 8px 20px -15px rgba(0,0,0,0.75);
  box-shadow: 0px 8px 20px -15px rgba(0,0,0,0.75);
}

.c-aspect-ratio-inside {
  position: absolute;
  display: flex;
  align-items: stretch;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: aliceblue
}

.c-date-container {
  display: inline-block;
  height: 100%;
  text-align: left;
  font-family: 'Noto Serif', serif;
  padding: 1em;
}

.c-date-container-month {
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 0px;
}

.c-date-container-day {
  font-size: 2.5rem;
}

.c-info-container {
  display: inline-block;
  flex-grow: 1;
  height: 100%;
}

.c-category-dance {
  background-color: #D7EBBA;
}

.c-category-music {
  background-color: #9AD2CB;
}

.c-category-event {
  background-color: #FCBFB7;
}

.c-badge {
  display: inline-block;
  float: right;
  border-radius: 9999px;
  padding: 6px;
  color: #000;
  margin: 8px;
}

.c-badge:last-child {
  margin-left: 0px;
}

.c-badge:first-child {
  margin-right: 0px;
}

.c-badge.disabled {
  background-color: transparent !important;

}

.c-title {
  font-family: "Oswald", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  font-size: 1.75rem
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none; /* Remove list bullets */
  padding: 0;
  margin: 0;
}
