$ticket-color: rgb(255, 255, 255);



.c-aspect-ratio {
  position: relative;
  width: 100%;
  padding-bottom: 30%;
  min-height: 150px;
}

.c-aspect-ratio-inside {
  position: absolute;
  display: flex;
  align-items: stretch;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &:after,
  &:before {
    content: '';
    position: absolute;
    top: 10px;
    bottom: 10px;
  }

  &:before {
    left: -5px;
    width: 6px;
    background: radial-gradient(circle, transparent, transparent 50%, $ticket-color 50%, $ticket-color 100% ) -8px -8px / 16px 16px repeat-y;
  }

  &:after {
    right: -5px;
    width: 6px;
    background: radial-gradient(circle, transparent, transparent 50%, $ticket-color 50%, $ticket-color 100% ) -2px -8px / 16px 16px repeat-y;
  }
  
}

.c-ticket {
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: $ticket-color;
  display: flex;

  padding: 0.5em;
  border-radius: 10px;

  -webkit-box-shadow: -1px 7px 9px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 7px 9px -5px rgba(0,0,0,0.75);
  box-shadow: -1px 7px 9px -5px rgba(0,0,0,0.75);
}

.c-date-container {
  display: inline-block;
  height: 100%;
  text-align: left;
  font-family: 'Noto Serif', serif;
  border: 5px solid transparent;
  width: 90px;
  padding: 0.5em;
  flex-shrink: 0;

  border-radius: 5px 0px 0px 5px;

  &-month {
    font-size: 1rem;
    text-transform: uppercase;
    margin: 0;
  }

  &-day {
    font-size: 2.5rem;

    margin: 0;
  }
}

.c-info-container {
  display: inline-block;
  flex-grow: 1;
  /* background-color: #FFF; */
  border-radius: 0px 5px 5px 0px;
  overflow: hidden;
  position: relative;

  p {
    z-index: 20;
    color: #000;
  }
}

.c-ticket-image {
  object-fit: cover;
  filter: opacity(50%);
  position: absolute;
  display: inline;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}


.c-category-dance {
  background-color: #c8e2a1; 
  // border: 2px solid #c8e2a1;

}

.c-category-music {
  background-color: #9AD2CB; 
  // border: 2px solid #9AD2CB;

}

.c-category-event {
  background-color: #FCBFB7;
  // border: 2px solid #FCBFB7;

}

.c-badge {
  display: inline;
  float: right;
  border-radius: 9999px;
  padding: 6px;
  color: #000;
  margin: 8px;

  /* -webkit-box-shadow: -1px 7px 9px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 7px 9px -5px rgba(0,0,0,0.75);
  box-shadow: -1px 7px 9px -5px rgba(0,0,0,0.75); */
}